@tailwind base;
@tailwind components;
@tailwind utilities;
/* You can add global styles to this file, and also import other style files */

@layer base {
  :root {
    --background: 258 100% 95%;
    --foreground: 258 5% 10%;
    --card: 258 50% 90%;
    --card-foreground: 258 5% 15%;
    --popover: 258 100% 95%;
    --popover-foreground: 258 100% 10%;
    --primary: 258 53% 44%;
    --primary-foreground: 0 0% 100%;
    --secondary: 258 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 220 30% 85%;
    --muted-foreground: 258 5% 35%;
    --accent: 220 30% 80%;
    --accent-foreground: 258 5% 15%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 258 5% 90%;
    --border: 258 30% 50%;
    --input: 258 30% 26%;
    --ring: 258 53% 44%;
    --radius: 0.3rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 258 50% 10%;
    --foreground: 258 5% 90%;
    --card: 258 50% 10%;
    --card-foreground: 258 5% 90%;
    --popover: 258 50% 5%;
    --popover-foreground: 258 5% 90%;
    --primary: 258 53% 44%;
    --primary-foreground: 0 0% 100%;
    --secondary: 258 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 220 30% 25%;
    --muted-foreground: 258 5% 60%;
    --accent: 220 30% 25%;
    --accent-foreground: 258 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 258 5% 90%;
    --border: 258 30% 26%;
    --input: 258 30% 26%;
    --ring: 258 53% 44%;
    --radius: 0.3rem;

    --sidebar-background: 240 5.9% 10%;

    --sidebar-foreground: 240 4.8% 95.9%;

    --sidebar-primary: 224.3 76.3% 48%;

    --sidebar-primary-foreground: 0 0% 100%;

    --sidebar-accent: 240 3.7% 15.9%;

    --sidebar-accent-foreground: 240 4.8% 95.9%;

    --sidebar-border: 240 3.7% 15.9%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }
  html {
    @apply font-sans;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  }
}

.ribbon {
  margin: 0;
  padding: 0;
  background: rebeccapurple;
  color: white;
  padding: 1em 0;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(30%) translateY(0%) rotate(45deg);
  transform-origin: top left;
}

.ribbon:before,
.ribbon:after {
  content: '';
  position: absolute;
  top: 0;
  margin: 0 -1px; /* tweak */
  width: 100%;
  height: 100%;
  background: rebeccapurple;
}

.ribbon:before {
  right: 100%;
}

.ribbon:after {
  left: 100%;
}
