name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:  # Allows manual triggering

permissions:
  actions: read
  contents: read

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      # Set up Node.js with version 22
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22

      # Install pnpm
      - name: Install pnpm
        run: npm install -g pnpm@9.12.2

      # Cache pnpm dependencies using actions/cache@v4
      - name: Cache pnpm store
        uses: actions/cache@v4 
        with:
          path: ~/.pnpm-store
          key: ${{ runner.os }}-pnpm-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-

      - name: Prune pnpm store
        run: pnpm store prune

      # Install dependencies
      - name: Install Dependencies
        run: pnpm install --frozen-lockfile

      # Install Playwright Browsers
      - name: Install Playwright Browsers
        run: pnpm exec playwright install

      # Run Nx Affected Tasks
      - name: Run Nx Affected Tasks
        run: pnpm exec nx affected -t lint test build --base=origin/main --head=HEAD

      # Start Application
      # - name: Start Application
      #   run: pnpm exec nx run riffroll:preview &
      #   env:
      #      CI: true

      # Wait for Application to be Ready
      # - name: Wait for Application to be Ready
      #   run: npx wait-on http://localhost:4300

      # Run E2E Tests
      # - name: Run E2E Tests
      #   run: pnpm exec nx affected -t e2e --base=origin/main --head=HEAD
